.container-news {
    width: 90%;
    justify-self: center;
    padding-bottom: 100px;
    text-align: center;
}





/*----------------------------------MARIO--------------------------------------------------*/

.news-div-wrapper {
    flex-wrap: wrap !important;
    gap: 30px;
    justify-content: space-evenly;
}

.headerNews {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 50px;
    font-weight: 600;
}


.marioToys-img {
    width: 700px;
    height: 500px;
    margin-top: 50px;
    justify-self: center;
}



/*----------------------------------EVENTS--------------------------------------------------*/

.event-dates-news {
    margin: 20px 0px;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: left;
}

.ending-text-news {
    white-space: pre-line;
    padding-top: 30px;
    text-align: left;

}

.events-news {
    white-space: pre-line;
    text-align: left;

}

/*----------------------------------FRIEND MENU--------------------------------------------------*/

.friendMenu-pic {
    width: 500px;
    height: 400px;
    justify-self: center;
}












/*----------------------------------MEDIA--------------------------------------------------*/




@media(max-width:900px) {
    .marioToys-img {
        width: 500px;
        height: 400px;
    }
}

@media(max-width:700px) {
    .friendMenu-pic {
        width: 400px;
        height: 350px;
    }
}


@media(max-width:600px) {
    .marioToys-img {
        width: 300px;
        height: 200px;
    }

    .friendMenu-pic {
        width: 300px;
        height: 300px;
    }

    .events-news {
        font-size: 0.9rem;
    }

    .mcCafeTopTexts p {
        font-size: 0.9rem;

    }


}

@media(max-width:500px) {
    .headerNews {
        font-size: 1.3rem;
    }

    .events-news {
        font-size: 0.8rem;
    }

    .event-dates-news {
        font-size: 1.2rem;
    }

    .locationsOfMcCafe p {
        font-size: 0.9rem;
    }
}